configuration {
  font: "Hack 12";
}

@theme "default"

window {
  background-color: rgba(27, 27, 27, 0.8);
  border-color: rgba(230, 230, 230, 1);
  border-radius: 6px;
  padding: 16px;
  border: 2px;
}

inputbar {  
  background-color: rgba(230, 230, 230, 1);
  border-radius: 6px;
  padding: 8px;
}

listview {
  columns: 2;
  dynamic: true;
  scrollbar: false;
  spacing: 6px;
}

entry {
  placeholder: "type here";
}

element {
  border-radius: 6px;
  padding: 2px 8px;
}
