* {
  font-family: "Hack", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: rgba(25, 25, 25, 0.5);
  color: rgb(254, 254, 254);
}

#workspaces button {
  color: rgb(108, 112, 134);
  border-radius: 6px;
  margin: 4px 6px;
  min-width: 20px;
}

#workspaces button:hover {
  border-color: rgb(200, 200, 200);
}

#workspaces button.active {
  background-color: rgb(200, 200, 200);
  color: rgb(25, 25, 25);
}

#clock {
  padding: 0 10px;
  margin: 4px 6px;
  border-radius: 6px;
  background-color: rgb(200, 200, 200);
  color: rgb(25, 25, 25);
}
